@model Vital.Model.CustomerAccountModel

@{
    ViewBag.Title = "CreateCustomerAccount";
}

<div class="panel" style="background: #ededed; border: #ededed; margin-top: 0px; padding-top: 5px;">
    <div class="row">
        <div class="twelve columns">
            <h2 style="color: #f79020; margin-bottom: 25px;">Manage My Account</h2>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <dl class="tabs" style="border-bottom: solid 1px #ee8f1e; margin-bottom: 0px;">
                <dd class="active">
                    <a href="~/Account/MyVital" style="cursor: pointer; color: #ffffff; width: 120px; background: url('/Content/images/whitelockicon.png') no-repeat 78% #ee8f1e; border-left: 1px solid #ee8f1e; border-right: 1px solid #ee8f1e; font-weight: normal;">
                        My Vital
                    </a>
                </dd>
            </dl>

            <ul class="tabs-content">
                <li class="active" id="simple1Tab">
                    <div class="panel" style="background: #fff; border: solid 1px #ee8f1e; margin: 0 0 22px 0; padding-top: 0px;">
                        <div class="row">
                            <div class="twelve columns">
                                <h5>Manage Customer Accounts</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="six columns">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary()

                                    <div class="row">
                                        <div class="row">
                                            <div>
                                                @Html.LabelFor(model => model.Id)
                                            </div>
                                            <div class="editor-field">
                                                @Html.EditorFor(model => model.Id)
                                                @Html.ValidationMessageFor(model => model.Id)
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div>
                                                @Html.LabelFor(model => model.RateYear)
                                            </div>
                                            <div class="editor-field">
                                                @Html.EditorFor(model => model.RateYear)
                                                @Html.ValidationMessageFor(model => model.RateYear)
                                            </div>
                                        </div>
                                        @{
                                    List<Vital.Model.ValueText> terms = ViewBag.Terms as List<Vital.Model.ValueText>;
                                        }
                                        <div class="row">
                                            <div>
                                                @Html.LabelFor(model => model.termId)
                                            </div>
                                            <div class="editor-field">
                                                @Html.DropDownListFor(model => model.termId, new SelectList(terms, "Value", "Text"))
                                                @Html.ValidationMessageFor(model => model.termId)
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div>
                                                @Html.LabelFor(model => model.UPSEnabled)
                                            </div>
                                            <div class="editor-field">
                                                @Html.EditorFor(model => model.UPSEnabled)
                                                @Html.ValidationMessageFor(model => model.UPSEnabled)
                                            </div>
                                        </div>
                                        <p>
                                            <input class="large button right" type="submit" value="Create">
                                        </p>

                                    </div>
                                }

                                <div>
                                    @Html.ActionLink("Back to List", "ManageMyAccount")
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>